/* @import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800'); */

.btn.focus, .btn:focus{box-shadow:none !important;}

.btn.focus, .btn:focus{box-shadow:none !important;}
.navbar{padding: 0 1rem !important;}
.navbar-nav .nav-item{padding: 9px 7px;}
.modal-header .modal-title a{text-decoration: underline !important;}
form#registerForm input:focus{outline: none !important;}
form#loginForm input:focus{outline: none !important;}
#loginForm input{border: none; background-color: #f3f3f3;}
.section-one .content .btn{font-weight: 700;}
.plans .head h4{font-weight: 600 !important;}
.plans .content ul li{font-size: 15px !important;}
.other-features ul li{line-height: 27px;}
.zclass input{height: 40px; border: none;}
.zclass input::placeholder{text-transform: none; font-size: 15px; font-weight: 400; color: #c3c9cf;}
.section-three button{border-top-right-radius: 3px !important; border-bottom-right-radius: 3px !important; font-weight: 600 !important;}
.section-three button:hover{outline: none; border: none; padding: inherit !important;}
.list-group-item:first-child{border-radius: 0;}
.list-group-item:last-child{border-radius: 0;}

.form-control:focus{box-shadow: none !important; border-color: none !important;}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
/* 
#landing-page{}
#landing-page .btn-filled{color: #fff !important; letter-spacing: 0; border-radius: 3px;background: #000000} */

body {
    /* background-image: url('img/top-bg.png'); */
    background-repeat: no-repeat;
    /* background-position: top right; */
    /* height: 2500px; */
    z-index: 40;
    font-family: 'Assistant', sans-serif;
}
.body-content{
    width: 100%;
}

/* @font-face {
    font-family: assistantbold;
    src: url(assets/fonts/assitant/Assistant-Bold.ttf)  format('truetype');
    font-weight: bold;
} */
.navbar-brand img {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 39px;
}

.bg-header {
    background-color: #ffffffde !important;
    z-index: 100;
}

.navbar-nav .nav-item {
    margin-left: 52px;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;

}

.navbar-light .navbar-nav .nav-link {
    color: #32373C !important;
}

.navbar-light .navbar-nav .nav-link.btn-dark {
    color: #ffffff !important;

}

.navbar-light .navbar-nav .nav-link.btn-dark:hover {
    background-color: #F88440 !important;
    border-color: #F88440;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #F88440 !important;
    font-weight: bold;
}

#landing-page .landingBanner {
    position: relative;
    height: 535px;
    background-image: url(img/top-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    top: -96px;
}
#landing-page h3{margin-bottom: 0;}
#landing-page .section-one .content {
    margin-left: 25vh !important;
    margin-top: 25vh !important;
    margin-bottom: 20vh !important;
    position: absolute !important;
}

#landing-page .section-one .content h4 {
    font-family: 'Assistant', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
}

#landing-page .section-one .content .btn {
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 10px;
    z-index: 200;
    border-radius: 5px;
    font-size: 20px !important;
    height: 50px;
    border: none;
}

#landing-page .btn-outline-orange {
    color: white;
    background-color: #F88440;
    background-image: none;
    border-color: #F88440;
}
#landing-page .join-btn{color: #fff !important;}


.btn-outline-orange:hover,
.btn-outline-orange:not(:disabled):not(.disabled).active,
.btn-outline-orange:not(:disabled):not(.disabled):active,
.show>.btn-outline-orange.dropdown-toggle {
    color: #fff;
    background-color: #F88440;
    border-color: #F88440;
}

#landing-page .section-one{padding: 96px 0 0 0 !important;}
#landing-page .section-two{padding: 0 0 0 0 !important; overflow: visible !important;}
#landing-page .section-three{padding: 0 0 0 0 !important; overflow: visible !important;}
#landing-page .section-two{
    position: relative;
    z-index: 1;
}

.section-two .bg-orange {
    background-image: url('img/orange-bg.svg');
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 50;
    min-height: 1000px;
    /* margin-top: -75vh; */
    position: inherit;
    background-position-y: -350px;
}

.section-two .bg-orange .content {
    /* padding-top: 100px; */
    position: relative;
}

.section-two .bg-orange .content h3 {
    font-size: 38px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    color: #32373C;
    font-weight: 500;
}

.section-two .bg-orange .content h4 {
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    color: #32373C;
}

.section-two .bg-orange .two-column {

    margin-top: 100px;
      margin-left: 100px;
    margin-right: 135px;
}
.section-two .bg-green .two-column {

    margin-top: 100px;
      margin-left: 152px !important;
    margin-right: 10px !important;
}
.newsletter{margin: 0 auto !important;}
.two-column h3{line-height: 30px; margin-bottom: 10px !important;}
.section-two .bg-orange .two-column h3,
.section-two .bg-green .two-column h3 {
    text-align: left !important;
    font-size: 24px;
    color: #F88440;
    font-weight: bold;
}

.section-two .bg-orange .two-column p {
    text-align: justify;
    color: #32373C;
    font-size: 18px;
}

.section-two .bg-orange .two-column img,
.section-two .bg-green .two-column img {
    width: 80%;
}

.review-heading {
    color: #6CD351 !important;
    font-size: 24px;
    margin-top: 60px;
}

.section-two .bg-green .two-column {

    margin-top: 100px;
    margin-left: 268px;
    margin-right: 268px;
}

.bg-green {
    background-image: url('img/green-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 51;
    min-height: 1000px;
    margin-top: -555px;
    position: inherit;
    background-position-y: -200px;
    /* position: absolute; */
}

.bg-green .content {
    margin-top: 140px;
}

.bg-blue {
    background-image: url('img/blue-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 51;
    /* min-height: 1398px; */
    min-height: 1341px;
    margin-top: -680px;
    position: inherit;
    background-position-y: 200px;
    background-size: 100%
    /* position: absolute; */
}

.bg-blue .content {
    margin-top: 140px;
}

.bg-blue h4,
.bg-blue h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    padding-top: 320px;
}

.bg-blue h3 {
    font-size: 44px;
    padding-top: 80px;
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show>.btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #F88440;
    border-color: #F88440;
}

.btn-orange {
    color: #fff;
    background-color: #F88440;
    border-color: #F88440;
}


.section-three .bg-blue .two-column {

    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

.plans {
    margin-top: 100px;
    min-height: 600px;
    background-color: #ffffff;
    width: 100%;
}

.plans:hover {
    transform: scale(1.2);
}

.plans .head {
    height: 100px;
    background-color: #6ED351;
}

.plans .head h4,
.plans .head h5 {
    color: #ffffff;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 25.2px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.plans .head h5 {
    font-weight: 100;
    font-size: 18px;
    padding-top: 0px;
}

.plans .content {
    margin-top: 0px;
    font-family: 'Assistant', sans-serif !important;
    font-size: 14.4px !important;

}

.plans .content .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 8px;
    color: #788285;
    padding-left: 15px !important;
}

.plans .content .other-features {
    padding-top: 8px;
    padding-left: 16px;
    
}
.linethrough{text-decoration: line-through;}
.plans .content ul,
.plans .content ul li {
    list-style: none;
    color: #788285;
    font-size: 12.24px;


}
.plans .content ul{
    padding-bottom: 8px;
}
.footer{
    margin-top: -2px;
}
.f-copyright{
    width: 100%;
    font-size: 16px;
    text-align: right;
}
.bg-footer {
    background-color: #32373C !important;
}

.footer .navbar-dark .navbar-nav  {
    font-weight: bold;
}
.footer .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}
.footer-img{
    width: 100%;
}
.footer img{
    height: 55px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

/* modal css */
.modal-backdrop {
    background-color: #ffffff !important;
 }
.modal-header {
    border-bottom: none !important;
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem auto -1rem -1rem !important;
    color: #6CD351;
    font-size: 60px !important;
    opacity: 1 !important;
    padding-top: 0rem !important;
    margin-left: 0.1rem !important;
    font-weight: 100 !important;
    text-shadow: none !important;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #6CD351 !important;
}
.modal-header .modal-title{
    font-family: 'Assistant', sans-serif !important;
    font-size: 19px;
    color: #6CD351 !important;
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
}
.modal-header .modal-title a{
    font-weight: bold;
    text-decoration: underline !important;
    color: #6CD351 !important;
    cursor: pointer;
}
.modal-dialog{
    /* margin-top: 5rem !important; */
    min-width: 636px;
    max-width: 636px;
}
.modal-content{
    min-height: 462px !important;
    background-image: url('img/login-bg.svg');
    background-repeat: no-repeat;
    background-position: top left;
    border-bottom-left-radius: none !important;
    border-bottom-right-radius: none !important;
    border-radius: 0em !important;
}
.modal-content .modal-body{
    margin-left: 50px;
    margin-right: 50px;
}
.modal-content .content-heading{
    color: #ffffff !important;
    font-weight: 500;
    font-family: 'Assistant', sans-serif;
}
.modal-content .content-heading2{
    color: #ffffff !important;
    font-weight: 500;
    font-family: 'Assistant', sans-serif;
    margin: 0;
}

#loginForm{
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
}
#loginForm .row {
    margin-bottom: 15px;
}
#loginForm .col-md-4{
    max-width: 27% !important;
}
#loginForm .col-md-8 {
    max-width: 73% !important;
}
#loginForm label{
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 18px;
}
#loginForm span{
    font-size: 12px;
}
#loginForm input{
    width: 100%;
    height: 40px;
    padding: 7px;
    margin-bottom: 0;
}
#loginForm span a{color: #fff; text-decoration: underline;}
#loginForm .btn-submit{
    font-weight: 700;
    margin-top: 18px;
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    background: #ff7e12 !important;
    border: none;
    opacity: 1;
    border-radius: 3px !important;
    width: 56%;
    padding: 0;
    letter-spacing: 0;
    margin-left: 20px;
    height: 45px;
}

#registerModal .modal-content{
    min-height: 627px !important;
    background-image: url('img/register-bg.svg');
    background-repeat: no-repeat;
    background-position: top left;
    border-bottom-left-radius: none !important;
    border-bottom-right-radius: none !important;
    border-radius: 0em !important;
}

#registerModal .modal-dialog{
    min-width: 684px;
}
.roomcode-put{ border: 1px solid #3B75FA !important; font-size: 14px; border-radius: 0;}
.roomcode-put::placeholder{text-transform: none !important; font-size: 17px; font-weight: 400;}
#registerModal .modal-content .content-heading{
    font-weight: 100;
}
#registerModal .modal-content .content-heading b{
    font-weight: 600;
}

#registerModal .modal-header .modal-title{
    padding-right: 20px;
}
#registerModal span a{color: #fff; text-decoration: underline;}

#registerForm{
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
}
#registerForm .row {
    margin-bottom: 15px;
}
#registerForm .col-md-4{
    /* max-width: 27% !important; */
}
#registerForm .col-md-8 {
    /* max-width: 73% !important; */
}
#registerForm label{
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 18px;
}
#registerForm span{
    font-size: 12px;
}
#registerForm .input{
    width: 100%;
    height: 40px;
    padding: 7px;
    border:none;
    background: #f3f3f3;
    margin-bottom: 0 !important;
    font-size: 16px;
    text-transform: none !important;
}
#registerForm .input::placeholder{
    text-transform: capitalize !important;
    color: #bcbcbc;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

#registerForm .btn-submit{
     margin-left: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    background: #ff7e12 !important;
    border: none;
    opacity: 1;
    border-radius: 3px !important;
    width: 50%;
    height: 50px;
    letter-spacing: 0;
    padding: 0;
}

#registerForm ul,
#registerForm ul li{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Assistant', sans-serif;
}
#registerForm ul li{
    margin-bottom: 10px;
}
#registerForm .checkbox{
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 0;
}

#joinretro{
    padding-left: 0;
    padding-right: 0;
    width: 40%;
}
.hideError {
    display: none;
}
.showError {
    text-align: center;
    width: 100%;
    color: #ff2b2b;
    font-size: 18px;
    display: block;
}
#fom1 {
    margin-bottom: -50px
}
.zclass {
    z-index: 1000;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #F88440; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.loaderParentB {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    position: absolute;
    left:0px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-top: 25%;
    z-index: 1100;
}
.loaderParentA {
    display:'none'
}

.styles_modal__gNwvD {
    max-width: 800px;
    position: relative;
    padding: 1.2rem;
    background: transparent;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body > div:last-child > div[class*=overlay] {
    background-color: transparent !important;
}
body > div:last-child > div[class*=overlay] > div[class*=modal] {
    background-color: transparent !important;
    box-shadow: none !important;
}
body > div:last-child > div[class*=overlay] > div[class*=modal] > .modal-dialog + button {
    display: none !important;
}

body > div:not(#root):nth-last-of-type(1) > div > div > #registerModal + button {
    display: none !important;
}
#landing-page .section-one .content .btn.blue-btn {
    background-color: #3b75fa !important;
}
.remote-share-text {
    color: #32373c;
    text-align: left;
    margin-bottom: 35px;
}
#landing-page .section-one .content .join-create-retro-btn-wrapper button {
    min-width: 170px;
    font-size: 18px !important;
}
.show_join_retro_field {
    display: flex;
}
.show_join_retro_field  input[type="email"] {
    height: 50px;
    animation: expand-width 0.2s linear;
    border-radius: 4px 0 0 4px;
}
.show_join_retro_field button {
    height: 50px;
    line-height: 50px;
    padding: 0 10px !important;
    min-width: 170px;
    background-color :#3b75fa !important;
    border-radius: 0 4px 4px 0 !important;
}
@keyframes expand-width {
    from {
        width: 0;
    }
    to {
        width: 100px !important;
    }
}

.plansContent{
    padding: 0px !important;
    text-align: center;
}
.plansContent ul{
    padding: 0px !important;
}