#promocodes-page-wrapper {
    position: relative;
    background-repeat: no-repeat !important;
    background-image: url("./img/orange-shape.svg") !important;
    z-index: 50;
    background-position-y: -2480px !important;
    background-position-x: -2050px !important;
    background-color: #f7f7f7 !important;
}

#promocodes-page-wrapper > .container-fluid {
    background-image: url('./img/green-shape.svg'), url('./img/RetroSummary_BG.png');
    background-position-x: 1110px, center;
    background-position-y: -655px, bottom;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}

.bdr-top-none {
    border-top: none;
}
.mb-50px {
    margin-bottom: 50px;
}

.section-title h4 {
    font-size: 18px;
    color: #133A62;
    font-weight: 700;
    padding-left: 0px;
}.pad-25px {
    padding: 25px;
}
.pad-35px {
    padding: 35px;
}
.orange-btn {
    background-color: #f88440;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0;
    border: 1px solid #f88440;
    min-width: 175px;
    padding: 10px 0;
}
.orange-btn i {
    margin-right: 10px;
}
.orange-btn:hover {
    color: #f88440;
    background-color: #fff;
}
.cst-table tr td {
    font-weight: 600;
    padding: .5rem .75rem;
}
.cst-pagination .pagination {
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cst-pagination .pagination .page-item.active a {
    font-weight: 700;
    color: #000;
}
.cst-pagination .pagination .page-item a {
    color: #3b75fa;
    background: transparent !important;
}

.customeModal{
    position: relative;
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: -40px;
    background: #eee;
    color: #000;
    text-align: center;
}

.closebutton{
    background: transparent !important;
    border: none!important;
    color: #000!important;
    font-size: 44px !important;
    padding: 0px !important;
    margin-right: 10px;
    margin-top: -30px !important;
}