/* Header */

#editpromocode-page-wrapper .user_name span {
    font-weight: 900;
}


/* BreadCrumb */

#editpromocode-page-wrapper #bread-crumb li a {
    font-weight: 600;
}

#editpromocode-page-wrapper {
    position: relative;
    background-repeat: no-repeat !important;
    background-image: url('./img/orange-shape.svg') !important;
    z-index: 50;
    background-position-y: -2480px !important;
    background-position-x: -2050px !important;
    background-color: #f7f7f7 !important;
}

#editpromocode-page-wrapper > .container-fluid {
    background-image: url('./img/green-shape.svg'), url('./img/RetroSummary_BG.png');
    background-position-x: 1110px, center;
    background-position-y: -655px, bottom;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}

@media (min-width: 1500px) {
    #editpromocode-page-wrapper {
        background-position-x: -2000px !important;
    }
    #editpromocode-page-wrapper > .container-fluid {
        background-position-x: -1030px;
    }
}

@media (min-width: 1700px) {
    #editpromocode-page-wrapper > .container-fluid {
        background-position-x: -830px;
    }
}
#editpromocode-page-wrapper .form-box-wrapper {
    padding: 35px 0;
}
