#superadminusers-page-wrapper {
    position: relative;
    background-repeat: no-repeat !important;
    background-image: url('./img/orange-shape.svg') !important;
    z-index: 50;
    background-position-y: -2480px !important;
    background-position-x: -2100px !important;
    background-color: #f7f7f7 !important;
}

#superadminusers-page-wrapper > .container-fluid {
    background-image: url('./img/green-shape.svg'), url('./img/RetroSummary_BG.png');
    background-position-x: 1110px, center;
    background-position-y: -655px, bottom;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}
