@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800');


.createretrosignout{
    cursor: pointer;
}
.navbar .dropdown-item{font-weight: 600; font-size: 16px !important;}

.retrocategory{
        display: -webkit-inline-box;
    }
body {
    /* background-image: url('./img/orange-bg.svg');
    background-repeat: no-repeat;
    background-position: top right; */
    /* height: 2500px; */
    z-index: 40;
    font-family: 'Assistant', sans-serif;
    overflow-x: hidden;
}

.body-content {
    width: 100%;

}

/* @font-face {
    font-family: assistantbold;
    src: url(assets/fonts/assitant/Assistant-Bold.ttf)  format('truetype');
    font-weight: bold;
} */
.navbar-brand img {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 39px;
}

.bg-header {
    background-color: #ffffffde !important;
}

.navbar-nav .nav-item {
    margin-left: 52px;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;

}

.navbar-light .navbar-nav .nav-link {
    color: #133A62 !important;
}

.navbar-light .navbar-nav .nav-link.btn-dark {
    color: #ffffff !important;

}

.navbar-light .navbar-nav .nav-link.btn-dark:hover {
    background-color: #F88440 !important;
    border-color: #F88440;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #F88440 !important;
    font-weight: bold;
}

.navbar .user-image {
    margin-left: 10px;
}

/* navbar end */
.main-content {
    min-height: 885px;
}

.main-content .nav-item {
    color: #32373C;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

.main-content .nav-pills .nav-link.active,
.main-content .nav-pills .show>.nav-link {
    color: #3B75FA;
    background-color: #ffffff;
    font-weight: bold;
    border-bottom: 5px #3B75FA solid;
    /* padding-left: -20px; */
    /* text-align: left; */
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 0px;
}

.main-content .nav-pills .nav-link.active::before,
.main-content .nav-pills .show>.nav-link::before {
    content: url(img/check-circle.svg);
    width: 16px;
    height: 16px;
    float: left;
}

.main-content .section {
    padding-left: 66px;
    padding-right: 66px;
    margin-top: 80px;
}

.main-content .label1 {
    font-size: 20px;
    font-weight: bold;
    color: #133A62;
}

.main-content .form-control {
    border-radius: 0px;
    background-color: #F3F3F3;
    border: 0px;
}

.optional {
    font-size: 14px;
    color: #3B75FA;
    font-family: 'Assistant', sans-serif;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 25px !important;
}

select.minimal {
    background-image: url('img/ddl-arrow-right.svg');
    /* background-position:
        calc(100% - 20px) calc(1em - 5px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em; */
    background-position: left center;
    background-position-x: 5px;
    background-size:
        17px 17px;
    background-repeat: no-repeat;
    padding-left: 4px;
}

select.minimal:focus {
    background-image: url('img/ddl-arrow-down.svg');
    background-position: left center;
    background-position-x: 5px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.mbn-5{
    margin-bottom: 5px;
}
.date-edit h4{
    margin-bottom: 10px;
}

.cat-bg1 {
    /* background-color: #F9FBFE; */
    background-position-x: -20px calc(100% + 20px);
    margin-left: -1rem;
    margin-right: -1rem;
}
.btn-cat-edit1{
    background-color: #3B75FA !important;
    margin-top: 7px;
    border-radius: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    line-height: 14px !important;
}
.btn-cat-reset{
    background-color: transparent !important;
    margin-top: 7px;
    border-radius: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    line-height: 14px !important;
}
.btn-primary{
    background-color: #3B75FA !important;
}

.right-section{
    margin-top: 100px;
}
.right-section .bg-light{
    min-height: 400px;
    padding-left: 4px;
    padding-right: 4px;
}
.right-section h4{
    padding-top: 4px;
    color: #32373C !important;
    font-size: 19px;
}
.right-section .bars{
    padding-right: 4px;
    padding-left: 4px;
}
.next-button{
    padding-right: 140px !important;
    padding-left: 70px !important;
    margin-top: 20px;
}
.btn-next{
    background-color: #133A62;
    opacity: 0.5;
    color: #ffffff;
    width: 80%;
    height: 50px;
    font-size: x-large
}
/* footer */
.footer {
    margin-top: -2px;
}

.f-copyright {
    width: 100%;
    font-size: 16px;
    text-align: right;
}

.bg-footer {
    background-color: #32373C !important;
}

.footer .navbar-dark .navbar-nav {
    font-weight: bold;
}

.footer .navbar-nav .nav-item {
    margin-left: 0px;
    margin-right: 50px;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

.footer-img {
    width: 100%;
}

.footer img {
    height: 55px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

.bg-light {
    background-color: rgba(255,255,255,0.9) !important;
}

#createretrobackground{
    background-image: url('./img/orange-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 65%
}


.form-control minimal{
    font-size: 20;
    height: calc(2.25rem + 10px);
}


#selectbox > option{
   background: white;
    font-size: larger
}


#newtemplate{
    background: #133a62;
    color: white
}

#newproject{
    background: #133a62;
    color: white
}

#editbutton{
    padding-top: 10;
    height: 10
}

.mb-2{
    width: 100%
}

.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
  }

  .react-tags.is-focused {
    border-color: #B1B1B1;
  }

  .react-tags__selected {
    display: inline;
  }

  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
  }

  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: #B1B1B1;
  }

  .react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }

  }

  .react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .react-tags__search input::-ms-clear {
    display: none;
  }

  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__suggestions {
      width: 240px;
    }

  }

  .react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  .react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }

  .react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }

  .react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }

  .react-tags__suggestions li.is-active {
    background: #b7cfe0;
  }

  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .hidden{
      display: none;
  }

  .showing{
    display: block;
  }

  .react-tags{border:none !important; background: #f3f3f3 !important; padding: 0 !important;}
  .react-tags.is-focused{padding-left: 5px !important;}
  .react-tags__search{padding: 7px 10px !important;}
  .react-tags__search input{background: none !important;}
  .form-control{line-height: 1.7 !important;}
  .main-content .label{font-size: 18px !important;}
  .main-content .label1{font-size: 18px !important;}
  .btn-cat-reset{padding: 3px 30px!important;}
  .retrocategory p.label1{padding-right: 25px !important;}
  .btn-cat-reset {background-color: #3B75FA !important; padding: 5px 30px!important; color: #fff;}


  .saveBtn{
    background: #f88440 !important;
    border-color: #f88440;
    color: #fff !important;
  }

.breadcrumb-2 {
    background: none;
    padding: 0;
    padding-top: 20px !important;
}
.breadcrumb-2 li a,
.breadcrumb-2 li {
    font-family: "Assistant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px !important;
    text-transform: capitalize !important;
    letter-spacing: 0;
    color: #133A62;
}
.breadcrumb-2 > li + li:before {
    padding: 0 16px;
    color: #bbb;
}
.breadcrumb-2 li a.breadcrumb-current {
    color: #3B75FA !important;
    font-weight: 700;
}
#edit-retro-container.edit-retro-container {
    background-image: url('../edit-retro/img/green-shape.svg') !important;
}
#edit-retro-container.edit-retro-container > .container {
    background-image: url('../edit-retro/img/RetroSummary_BG.png') !important;
}
.edit-retro-container .edit-title {
    background: #fff;
    padding: 20px 30px;
}
.edit-retro-container .edit-title h2 {
    color: #133A62;
    text-transform: capitalize !important;
    font-size: 23px;
    font-weight: 700;
    margin: 0;
}
#edit-retro-container.edit-retro-container #edit-title button {
    width: 150px;
    text-align: center;
    border-radius: 0;
}
#edit-retro-container.edit-retro-container .sprint-code {
    height: 50px !important;
    line-height: 50px !important;
}
#edit-retro-container.edit-retro-container .headingSandC {
    margin-bottom: 1rem;
}
#edit-retro-container.edit-retro-container .optional-link {
    position: absolute;
    font-size: 14px;
    right: 15px;
    top: -25px;
    color: #3B75FA;
    margin-bottom: 0;
}
#edit-retro-container.edit-retro-container .invite-email-field {
    background: #f5f5f5;
    border: none;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
#edit-retro-container.edit-retro-container .invite-email-field + .input-group-append button {
    border-radius: 0;
    width: 135px;
}
.already-invited-text {
    color: #666;
    text-indent: 10px;
}
#edit-retro-container #edit-content .invite-list .add-email table tr td {
    color: #133a62;
}
#edit-retro-container #edit-content .invite-list .add-email table tr td:nth-child(2) .round1 {
    vertical-align: middle;
    display: inline-block;
}
.cst-checkbox-field {
    display: none !important;
}
.cst-checkbox-label {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin: 0 !important;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #F88440;
    cursor: pointer;
}
.cst-checkbox-field:checked ~ .cst-checkbox-label:after {
    content: 'A';
    background: #F88440;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    transform: translateX(-1px) translateY(-1px);
    font-weight: normal;
}
#edit-retro-container.edit-retro-container #edit-content .invite-list .add-email i {
    display: inline-block;
    transform: initial;
}
.invite-list .add-email {
    max-height: 283px;
    overflow-y: auto;
}
#date-edit {
    background: #fff;
    padding: 20px 30px;
    width: 100%;
}
#edit-content > div:nth-child(2) {
   padding-left: 5px;
   padding-bottom: 10px;
}
#edit-retro-container.edit-retro-container #edit-content > div:last-child {
    padding-left: 15px !important;
}
#edit-retro-container.edit-retro-container #edit-content > div:last-child > div:last-child {
    margin: 0 !important;
}
.width-100 {
    width: 100%;
}
.white-bg {
    background-color: #fff;
}
.height-100 {
    height: 100%;
}
.height-100-5px {
    height: calc(100% - 5px);
}
.save-retro {
    background: #fff;
    padding: 20px 30px;
    margin: 5px 0;
    text-align: center;
}
.save-retro .save-btn {
    border: none;
    color: #fff;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 0;
    border-radius: 0;
    max-width: 180px;
    width: 100%;
    padding: 15px;
    font-weight: 600;
}
.save-retro .save-btn:hover {
    background: #ff7e12 !important;
    color: #fff !important;
}
#edit-retro-container.edit-retro-container #date-edit .react-datepicker__input-container input {
    height: 50px;
    line-height: 50px;
}
.to-text {
    padding-left: 5px;
    padding-right: 5px;
}
.project-info-field {
    font-weight: normal !important;
    background-image: url(./img/ddl-arrow-right.svg) !important;
    background-position: 5px center  !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    padding-left: 25px !important;
}